@model IEnumerable<string>

@foreach (var link in Model)
{
	<li class="menuHeader">
		@Html.RouteLink(link, new
		{
			controller = "Products",
			action = "List",
			category = link.Replace("&", "-"),
			page = 1
		}, new
		{
			@class = "navItem"
		})
	</li>
}