<link href="~/Content/style.css" rel="stylesheet" />
<style>
    .content {
        background-color: #f1f1f1;
    }

    .row.panel {
        background-color: #f1f1f1;
        justify-content: center;
    }

    .col-xs-8 {
        flex-direction: column;
    }

</style>
<div>
    <img src="@Url.Content("~/Images/United-Direct-Logo.png")" style="width:395px" />
</div>
<h1>Confirmation Email Sent. </h1>
<h3>Thanks so mush for joining <span style="color:red">UnitedDirect</span>! To finish register, please check your email and confirm your email address.</h3>
