<style>
    #categories {
        display:none;
    }
    .row.panel {
        justify-content:center;
    }
    .col-xs-8 {
        width:max-content;
    }
    .sortingDropDown {
        display: none !important;
    }
    .rowContent {
        justify-content: center;
    }
</style>

<div style="display:flex; flex-direction:column;">
<div>
    <img src="@Url.Content("~/Content/Images/United-Direct-Logo.png")" style="width:395px" />
</div>

<h1>Your order has been accepted for processing.</h1>

<br />
<h2>Thank you for choosing our store!</h2>
</div>

