.header .headerContent{
  margin-bottom: 0;
  border-radius: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #333;
  height: 90px;
}

html, body {
height: 100%;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  display:flex; 
  height:100px; 
  justify-content:space-between; 
  background-color: #333;
}

.header div.image {
  width: 60px;
  height: 50px;
  margin: 0px 5px 0px 5px;
  align-self: center;
}

@media(max-width: 780px) {
  div.image {
    display: none;
  }
 }

 @media(max-width: 700px) {
  div.headerContent div#search {
    display: none !important;
  }
 }

.header .caption h1 {
  color: white;
  margin: 7.39px 40px 23.39px 40px;
  text-decoration: none;
}

.header .caption a {
  text-decoration: none;
}

.topLevelMenu {
  margin: 0px 0px 0px 0px; 
  padding: 0px 0px 0px 0px; 
  display:flex; 
  justify-content:space-around; 
  font-size: 16pt;
}

.topLevelMenu a:hover {
  text-decoration: none;
 }

 .topLevelMenu .menuHeader:hover {
  text-decoration: none;
  background-color: white;
 }

 .topLevelMenu .menuHeader:hover a {
  color:black;
}

 .topLevelMenu .menuHeader a {
   color: white;
   margin: 0px auto;
   text-decoration: none;
   height: 32px;
   padding-left: 30px;
   padding-right: 30px;
 }

 .topLevelMenu .menuHeader :hover {
  color: black;
}
 
 .topLevelMenu .menuHeader {
  height: 32px;
  margin: 4px auto;
}

li {
  list-style-type: none;
 }

 .menu {
  background-color:#b61c1c; 
  height: 40px
 }

.social img {
  margin-left: 5px;
  margin-right: 5px;
}

.social {
  margin-top: 36px;
  margin-right: 5px;
}

.footerText {
  padding: 0px; 
  margin: 0px 0px 0px 0px;
}

.footerTextItem {
  color: white;
}

.image img {
  width: 60px; 
  height:60px; 
}

#carousel {
  margin: 0px 0px 20px 0px;
}

a.btn.btn-default.btn-primary.selected {
  background-color: #b61c1c;
  border-color: #b61c1c;
}

#registerLink a {
  text-decoration: none;
  color: #b61c1c;
}

a#registerLink {
  color: white;
  text-decoration: none;
}

a#loginLink {
  color: white;
  text-decoration: none;
}

a#helloLink {
  color: white;
  text-decoration: none;
}

.social img:hover {
  background-color: black;
  border-radius: 6px;
}

.logOut {
  color: white;
  text-decoration: none;
}

.logOut:hover {
  color: white;
  text-decoration: none;
}

.basketImage:focus input {
  outline: black;
}

body {font-family: Arial, Helvetica, sans-serif;}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
  from {top:-100px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-100px; opacity:0}
  to {top:0; opacity:1}
}

#close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#close:hover,
#close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #333c;
    color: white;
}

.modal-body {
    padding: 2px 16px;
    height:70px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #333c;
    color: white;
}
.sizeItem {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    line-height: 10px;
    border: 1px solid #d5d5d5;
    margin: 0 0 0 10px;
    padding: 9px;
    min-width: 42px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    -webkit-box-shadow: inset 0 0 0 1px #fff;
    box-shadow: inset 0 0 0 1px #fff;
}

.size {
    position: absolute;
    top: 0;
    left: -9999px;
}

.pull-right a {
  margin: 8px;
}

/* @import "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css";
@import 'https://fonts.googleapis.com/css?family=Nunito:300,400,700';

label.check {
cursor: pointer;
color: #383A3F;
display: block;
margin-bottom: 10px;
font-size: 1.2em;
}
label input[type="checkbox"] + span.label-text:hover:before {
color: #fe4365;
}
label input[type="checkbox"] {
display: none;
}
label input[type="checkbox"] + span.label-text:before {
content: "";
color: #dddfe6;
font-family: "fontAwesome";
line-height: 1;
width: 1em;
display: inline-block;
margin-right: 5px;
}
label input[type="checkbox"]:checked + span.label-text:before {
content: "";
color: #fe4365;
animation: tick 150ms ease-in;
}
label input[type="checkbox"]:disabled + span.label-text:before {
content: "";
color: #dddfe6;
}

@keyframes tick {
0% {
  transform: scale(0);
}
90% {
  transform: scale(1.3);
}
100% {
  transform: scale(1);
}
} */

/* The container */
label.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  /* background-color: #2196F3; */
  background-color: #b61c1c;
  
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#logoutForm {
    height: 16px;
}

.sortingDropDown {
    flex: 0 0 auto;
    margin: auto 0;
    font-weight: 700;
}

.drop-down {
    height: 35px;
    font-size: 14px;
    color: #000;
    height: 42px;
    border: 1px solid #000;
    border-radius: 0;
    width: 100%;
    padding: 5px 10px;
    box-shadow: none;
    font-family: Arial,Helvetica,sans-serif;
}

.layout-row > * {
    flex: 1 1;
    min-width: 0;
}
.layout-row {
    display: flex;
    flex-wrap: wrap;
    max-width: 100em;
    margin: 0 auto;
}

.i-filters .show {
    display: block;
}

.i-filters .filterblock {
    position: relative;
    display: none;
    margin-bottom: 24px;
}
.i-filters .filter-title {
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    position: relative;
    padding-right: 15px;
    cursor: pointer;
}
.i-filters .filterblock.price .selectorsblock {
    margin-top: 12px;
}
.i-filters .filter-title-text {
    font-family: system,-apple-system,BlinkMacSystemFont,'Segoe UI','Segoe WP',Roboto,Ubuntu,Oxygen,Cantarell,'Fira Sans','Helvetica Neue',Helvetica,'Lucida Grande','Droid Sans',Tahoma,'Microsoft Sans Serif',sans-serif;
    color: #000;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    margin-right: 12px;
    vertical-align: middle;
}
div.filterblock.wbsize.show.filter-active {
    font-family: system,-apple-system,BlinkMacSystemFont,'Segoe UI','Segoe WP',Roboto,Ubuntu,Oxygen,Cantarell,'Fira Sans','Helvetica Neue',Helvetica,'Lucida Grande','Droid Sans',Tahoma,'Microsoft Sans Serif',sans-serif;
    font-size: 12px;
    outline: 0;
    margin: 0px 40px 0px 0px;
    padding: 0;
    position: relative;
    margin-bottom: 24px;
    display: block;
}
div.filter-title {
    font-family: system,-apple-system,BlinkMacSystemFont,'Segoe UI','Segoe WP',Roboto,Ubuntu,Oxygen,Cantarell,'Fira Sans','Helvetica Neue',Helvetica,'Lucida Grande','Droid Sans',Tahoma,'Microsoft Sans Serif',sans-serif;
    font-size: 12px;
    outline: 0;
    display:flex;
    margin: 0;
    padding: 0;
    overflow-wrap: break-word;
    word-break: break-word;
    position: relative;
    padding-right: 15px;
    cursor: pointer;
}
div.filter-title > span.filter-title-text {
    overflow-wrap: break-word;
    word-break: break-word;
    cursor: pointer;
    outline: 0;
    font-family: system,-apple-system,BlinkMacSystemFont,'Segoe UI','Segoe WP',Roboto,Ubuntu,Oxygen,Cantarell,'Fira Sans','Helvetica Neue',Helvetica,'Lucida Grande','Droid Sans',Tahoma,'Microsoft Sans Serif',sans-serif;
    color: #000;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    margin-right: 12px;
    vertical-align: middle;
}
div.i-scrollbar-in-filter {
    font-family: system,-apple-system,BlinkMacSystemFont,'Segoe UI','Segoe WP',Roboto,Ubuntu,Oxygen,Cantarell,'Fira Sans','Helvetica Neue',Helvetica,'Lucida Grande','Droid Sans',Tahoma,'Microsoft Sans Serif',sans-serif;
    font-size: 12px;
    outline: 0;
    margin: 0;
    padding: 0;
}
div.scroll-wrapper.selectorsblock.custom-scroll.scrollbar-inner {
    font-family: system,-apple-system,BlinkMacSystemFont,'Segoe UI','Segoe WP',Roboto,Ubuntu,Oxygen,Cantarell,'Fira Sans','Helvetica Neue',Helvetica,'Lucida Grande','Droid Sans',Tahoma,'Microsoft Sans Serif',sans-serif;
    font-size: 12px;
    outline: 0;
    margin: 0;
    overflow: hidden !important;
    padding: 0 !important;
    border: 0;
    max-height: 238px;
    width: auto;
    margin-top: 12px;
    display: block;
    position: relative;
}
div.selectorsblock.custom-scroll.scrollbar-inner.scroll-content {
    font-family: system,-apple-system,BlinkMacSystemFont,'Segoe UI','Segoe WP',Roboto,Ubuntu,Oxygen,Cantarell,'Fira Sans','Helvetica Neue',Helvetica,'Lucida Grande','Droid Sans',Tahoma,'Microsoft Sans Serif',sans-serif;
    font-size: 12px;
    outline: 0;
    border: none !important;
    box-sizing: content-box !important;
    left: 0;
    margin: 0;
    max-width: none !important;
    overflow: auto !important;
    padding: 0;
    position: relative !important;
    top: 0;
    width: auto !important;
    padding-right: 20px;
    display: block;
    /*height: auto;*/
    margin-bottom: 0px;
    margin-right: 0px;
    /*max-height: 55px;*/
}
#wbsize_list_left {
    font-family: system,-apple-system,BlinkMacSystemFont,'Segoe UI','Segoe WP',Roboto,Ubuntu,Oxygen,Cantarell,'Fira Sans','Helvetica Neue',Helvetica,'Lucida Grande','Droid Sans',Tahoma,'Microsoft Sans Serif',sans-serif;
    font-size: 12px;
    outline: 0;
    margin: 0;
    padding: 0;
    border: 0;
    max-height:200px;
    overflow-y:auto;
}
label.j-list-item.filters-item.c-checkbox-withText-v1.selected:after {
    content: '';
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    display: none;
    width: 4px;
    height: 10px;
    top: 3px;
    left: 8px;
    display: block;
}
label.j-list-item.filters-item.c-checkbox-withText-v1::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 22px;
    height: 22px;
    border-radius: 6px;
    border: 1px solid #d5d5d5;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
}

label.j-list-item.filters-item.c-checkbox-withText-v1 {
    outline: 0;
    border: none;
    vertical-align: middle;
    display: block;
    font-family: system,-apple-system,BlinkMacSystemFont,'Segoe UI','Segoe WP',Roboto,Ubuntu,Oxygen,Cantarell,'Fira Sans','Helvetica Neue',Helvetica,'Lucida Grande','Droid Sans',Tahoma,'Microsoft Sans Serif',sans-serif;
    color: #000;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    overflow-wrap: break-word;
    word-break: break-word;
    position: relative;
    padding-left: 34px;
    cursor: pointer;
    margin-top: 12px;
}
span.reset {
    display:none;
    overflow-wrap: break-word;
    word-break: break-word;
    outline: 0;
    text-decoration: none;
    cursor: pointer;
    font-family: system,-apple-system,BlinkMacSystemFont,'Segoe UI','Segoe WP',Roboto,Ubuntu,Oxygen,Cantarell,'Fira Sans','Helvetica Neue',Helvetica,'Lucida Grande','Droid Sans',Tahoma,'Microsoft Sans Serif',sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    border-bottom: 1px dashed #8b8b8b;
    color: #8b8b8b;
    position: relative;
    vertical-align: middle;
}

div.filterblock.price.show.filter-active {
  font-family: system,-apple-system,BlinkMacSystemFont,'Segoe UI','Segoe WP',Roboto,Ubuntu,Oxygen,Cantarell,'Fira Sans','Helvetica Neue',Helvetica,'Lucida Grande','Droid Sans',Tahoma,'Microsoft Sans Serif',sans-serif;
  font-size: 12px;
  outline: 0;
  margin: 0;
  padding: 0;
  position: relative;
  margin-bottom: 24px;
  margin-right:40px;
  display: block;
}

div.filter-title {
  font-family: system,-apple-system,BlinkMacSystemFont,'Segoe UI','Segoe WP',Roboto,Ubuntu,Oxygen,Cantarell,'Fira Sans','Helvetica Neue',Helvetica,'Lucida Grande','Droid Sans',Tahoma,'Microsoft Sans Serif',sans-serif;
  font-size: 12px;
  outline: 0;
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
  word-break: break-word;
  position: relative;
  padding-right: 15px;
  cursor: pointer;
}

div.selectorsblock.range {
  font-family: system,-apple-system,BlinkMacSystemFont,'Segoe UI','Segoe WP',Roboto,Ubuntu,Oxygen,Cantarell,'Fira Sans','Helvetica Neue',Helvetica,'Lucida Grande','Droid Sans',Tahoma,'Microsoft Sans Serif',sans-serif;
  font-size: 12px;
  outline: 0;
  margin: 0;
  padding: 0;
  margin-top: 12px;
  display: block;
}

div.range-text {
  font-family: system,-apple-system,BlinkMacSystemFont,'Segoe UI','Segoe WP',Roboto,Ubuntu,Oxygen,Cantarell,'Fira Sans','Helvetica Neue',Helvetica,'Lucida Grande','Droid Sans',Tahoma,'Microsoft Sans Serif',sans-serif;
  outline: 0;
  margin: 0;
  padding: 0;
  font-size: 0;
}

input[type='number'] {
  outline: 0;
  margin: 0;
  vertical-align: middle;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #d5d5d5;
  border-radius: 4px;
  font-family: system,-apple-system,BlinkMacSystemFont,'Segoe UI','Segoe WP',Roboto,Ubuntu,Oxygen,Cantarell,'Fira Sans','Helvetica Neue',Helvetica,'Lucida Grande','Droid Sans',Tahoma,'Microsoft Sans Serif',sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #000;
  padding: 6px 12px;
  height: 36px;
  margin-top: 6px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

input.c-input-base-sm:focus {
  border-right: 1px solid #cb11ab;

  box-shadow: inset 1px 0 0 #cb11ab, inset 0 1px 0 #cb11ab, inset -1px 0 0 #cb11ab, inset 0 -1px 0 #cb11ab;
}

span.end-text {
  outline: 0;
  font-family: system,-apple-system,BlinkMacSystemFont,'Segoe UI','Segoe WP',Roboto,Ubuntu,Oxygen,Cantarell,'Fira Sans','Helvetica Neue',Helvetica,'Lucida Grande','Droid Sans',Tahoma,'Microsoft Sans Serif',sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #999;
}

span.start-text {
  outline: 0;
  font-family: system,-apple-system,BlinkMacSystemFont,'Segoe UI','Segoe WP',Roboto,Ubuntu,Oxygen,Cantarell,'Fira Sans','Helvetica Neue',Helvetica,'Lucida Grande','Droid Sans',Tahoma,'Microsoft Sans Serif',sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #999;
}

div.end-n {
  font-family: system,-apple-system,BlinkMacSystemFont,'Segoe UI','Segoe WP',Roboto,Ubuntu,Oxygen,Cantarell,'Fira Sans','Helvetica Neue',Helvetica,'Lucida Grande','Droid Sans',Tahoma,'Microsoft Sans Serif',sans-serif;
  font-size: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 50%;
}

div.start-n {
  font-family: system,-apple-system,BlinkMacSystemFont,'Segoe UI','Segoe WP',Roboto,Ubuntu,Oxygen,Cantarell,'Fira Sans','Helvetica Neue',Helvetica,'Lucida Grande','Droid Sans',Tahoma,'Microsoft Sans Serif',sans-serif;
  font-size: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 50%;
}