.header {
  margin-bottom: 0;
  border-radius: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  background-color: #333;
}

html, body {
height: 100%;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

.header .image img {
  margin: 17px 7px 17px 7px;
  width: 60px;
  height: 50px;

}

.header .caption h1 {
  color: white;
  margin: 23.39px 40px 23.39px 40px;
  text-decoration: none;
}

.header .caption a {
  text-decoration: none;
}

.topLevelMenu {
  margin: 0px 0px 0px 0px; 
  padding: 0px 0px 0px 0px; 
  display:flex; 
  justify-content:space-around; 
  font-size: 16pt;
}

.topLevelMenu a:hover {
  text-decoration: none;
 }

 .topLevelMenu .menuHeader:hover {
  text-decoration: none;
  background-color: black;
 }

 .topLevelMenu .menuHeader a {
   color: white;
   margin: 0px auto;
 }
 
 .topLevelMenu .menuHeader {
  height: 32px;
  margin: 4px auto;
  padding-left: 30px;
  padding-right: 30px;
}

li {
  list-style-type: none;
 }

 .menu {
  background-color:#b61c1c; 
  height: 40px
 }