@model Domain.Entities.Basket

<style>
    .checkout a {
        color: white;
        padding-left: 10px;
        padding-right: 10px;
    }

    .checkout a:hover {
        color: white;
        text-decoration: none;
    }
</style>

<ul class="basket" style="color:white;display:flex">
    @if (Model.Lines.Sum(x => x.Quantity) > 0)
    {
        <li class="summaryItems">
            @Model.Lines.Sum(x => x.Quantity)
        </li>
        <li class="itemsText"> &nbsp; item(s) / </li>

        <li class="price">
            @Model.ComputeTotalValue().ToString("# $")
        </li>

        <li class="checkout" style="margin-left:10px; background-color:black">
            @Html.ActionLink("CHECKOUT", "Index", new { returnUrl = Request.Url.PathAndQuery })
        </li>
    }
    else
    {
        <li>Basket Is Empty</li>
    }
</ul>
