
.navbar-inverse {

		/* .navbar-inverse__logo */

		&__logo {
            margin:17px 7px 17px 7px;
		}

		/* .navbar-inverse__caption */

		&__caption {
		}
}

.__logo{
    width:60;
    height:50;
}

.navbar-inverse {

    /* .navbar-navbar-inverse__logo */

    &__logo {
        margin:17px 7px 17px 7px;
    }

    /* .navbar-navbar-inverse__caption */

    &__caption {
    }
}

.__logo{
    width:60;
    height:50;
}


