@using WebUI.Models
@using WebUI.HtmlHelpers;

@model  ClothesListViewModel

@{
    ViewBag.Title = "MU Store";
}


@foreach (var item in @Model.Clothes)
{
    @Html.Partial("ClothesSummary", item);
}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, category = Model.CurrentCategory }))
</div>